<section class="panel">
  <header class="panel-heading text-center"></header>
  <div class="panel-body">
    <div class="form-group">
    <label class="control-label">Correo Electr&oacute;nico</label>
      <input type="email" placeholder="nombre@mail.com" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label class="control-label">Contrase&ntilde;a</label>
      <input type="password" id="password" placeholder="Contrase&ntilde;a" class="form-control">
    </div>
    <button id="signIn" class="btn btn-info">Entrar</button>
    <div class="line line-dashed"></div>
  </div>
</section>
